@use "../../abstracts" as *;

.target {
  width: 100%;

  &-title {
    margin-bottom: 60px;

    @include mobile() {
      margin-bottom: 40px;
    }
  }

  &-content {
    &-list {
      display: flex;
      margin-bottom: 35px;
      gap: 60px;

      @include tablet() {
        display: block;
      }

      &-item {
        display: flex;
        gap: 20px;

        @include tablet() {
          margin-bottom: 35px;
        }

        &-text {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &-icon {
    font-size: 40px;
    color: white;

    @include mobile() {
      font-size: 30px;
    }
  }
}
